/* Angular Material modules */
@use "@angular/material" as mat;
@use "theme-colors" as theme;

/* Base theme */
html {
  color-scheme: dark;

  @include mat.theme(
    (
      color: theme.$primary-palette,
    )
  );

  @media (prefers-contrast: more) {
    @include theme.high-contrast-overrides("dark");
  }

  @include mat.button-overrides(
    (
      filled-container-shape: 5px,
      text-container-shape: 5px,
      outlined-container-shape: 5px,
      protected-container-shape: 5px,
    )
  );
}

/* Tertiary theme */
.tertiary {
  @include mat.theme(
    (
      color: theme.$tertiary-palette,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 5px,
      text-container-shape: 5px,
      outlined-container-shape: 5px,
      protected-container-shape: 5px,
    )
  );
}

/* Secondary theme */
.secondary {
  // @include mat.theme(
  //   (
  //     color: theme.$secondary-palette,
  //   )
  // );

  @include mat.button-overrides(
    (
      filled-container-shape: 5px,
      text-container-shape: 5px,
      outlined-container-shape: 5px,
      protected-container-shape: 5px,
    )
  );
}

/* Error theme */
.error {
  // @include mat.theme(
  //   (
  //     color: theme.$error-palette,
  //   )
  // );

  @include mat.button-overrides(
    (
      filled-container-shape: 5px,
      text-container-shape: 5px,
      outlined-container-shape: 5px,
      protected-container-shape: 5px,
    )
  );
}

/* Light / Dark palette variants */

.light-red {
  color-scheme: light;

  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

.dark-red {
  color-scheme: dark;

  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

.light-blue {
  color-scheme: light;

  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}

.dark-blue {
  color-scheme: dark;

  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}

.light-green {
  color-scheme: light;

  @include mat.theme(
    (
      color: mat.$green-palette,
    )
  );
}

.dark-green {
  color-scheme: dark;

  @include mat.theme(
    (
      color: mat.$green-palette,
    )
  );
}

.tertiary {
  @include mat.theme(
    (
      color: theme.$tertiary-palette,
    )
  );
}

.secondary {
  @include mat.theme(
    (
      color: theme.$secondary-palette,
    )
  );
}

.error {
  @include mat.theme(
    (
      color: theme.$error-palette,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
