<h2 class="text-color">Welcome!</h2>
<p>This is a basic admin layout using Angular Material 19.</p>

<h4>Toggle Button Component</h4>
<mat-button-toggle-group>
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="Italic">Italic</mat-button-toggle>
  <mat-button-toggle value="UnderLine">UnderLine</mat-button-toggle>
</mat-button-toggle-group>

<div>
  <h4>Custom Theme Builder</h4>
  <button mat-flat-button class="theme-builder">Basic</button>
  <button mat-flat-button disabled class="theme-builder">Disabled</button>
  <a class="theme-builder" mat-flat-button>ThemeBuilder</a>
</div>

<div>
  <div>
    <h4>Button Components</h4>
    <p>Button Colors</p>
  </div>
  <div>
    <button mat-flat-button>Primary</button>
    <button mat-flat-button class="tertiary">Tertiary</button>
    <button mat-flat-button class="secondary">secondary</button>
    <button mat-flat-button class="error">Error</button>
  </div>
  <!--  -->

  <p>Basic Buttons</p>
  <button mat-button>Basic</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button href="/">Link</a>

  <p>Flat Buttons</p>
  <button mat-flat-button>Basic</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>

  <p>Stroked Buttons</p>
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>

  <p>Raised Buttons</p>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-flat-raised href="https://www.google.com/" target="_blank">Link</a>
</div>

<!-- <div>
  <h4>Radion buttons</h4>
  <div>
    <mat-radio-group>
      <mat-radio-button value="red">red</mat-radio-button>
      <mat-radio-button value="green">Green</mat-radio-button>
      <mat-radio-button value="blue">blue</mat-radio-button>
    </mat-radio-group>
  </div>
</div> -->
